body{
  margin: 0px;
  padding: 0px;
}

#header{
    padding-top: 0;
    padding-bottom: 5px;
    width: 100%;
    position: fixed;
    background: #242B2D;
    display: flex;
    flex-direction: row;
    z-index:100;
  }

  
  #image-div{
    flex-basis: 40%;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  #header-img{
    width: 150px;
    margin: 0px;
    padding: 6px 10px;
  }
  #title{
      float: left;
  }
  #nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    padding-right: 10px;
    width: 50%;
    /*padding: 2% 0%;*/
  }

#nav-bar span{
    color: white;
    /*width: 13vw  ;*/
    text-decoration: none;
    align-self: center;
    align-items: center;
    padding: 1% 2%;
  }

  #nav-link{
      align-self: center;
  }

  /*
  grey #252B2A;


  */

  @media only screen and   (max-width:775px) {
     #header-img{
      width: 120px;
    }
  }
  
  
  /*Mainly for mobile*/
  @media only screen and   (max-width:700px) {

    #header-img{
     width: 150px;
     padding: 1px;
    }

    #nav-bar{
      font-size: 16px;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    #header{
      flex-direction: column;
      align-items: center;
    }
    #image-div{
      text-align: center;
    }
    hr#mobile-line{
      clear: none;
      visibility: visible;
      width: 100%;
    }
   
  
  }
  