#profile{
    font-size: 20px;
    width: max-content;
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
}
.display-info{
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: row;
}

.display-value{
    font-weight: bold;
}

.display-title{
    padding-right: 10px;
}

.display-title div, .display-value div{
    margin: 5px;
}

@media (max-width:700px) {
    html,#profile{
        font-size: 16px;
    }
    
    
}