html,body{
    margin: 0;
    padding:0;
}

.subject-container{
    width: 100%;
    height: fit-content;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}  

.main-container{
    padding-top: 60px;
    
}

.padding-top{
padding-top: 2px;
}

#choose-subject-text{
    margin-left: 15px;
    font-size: 25px;
    font-weight: bold;
}

select{
    font-size: 19px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    border: solid 2px #242B2D;
    padding-right: 30px !important;
    
}

.color-button{
    /*change arrow of select button*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px;
    color: white;
    background-color: #242B2D;
    border-radius: 7px;   
    align-self: center;
    justify-self: center;
    text-align: center;
    
    
}
#start-test{
    padding: 8px;
    font-size: 19px;
    border: solid 1px #242B2D;
    box-shadow:2px 2px #242B2D;
}
#start-test:hover{
    font-weight: bold;
    color: black;
    /*#242B2D;*/
    background-color: #ACDB01;
}

.color-button:hover{
    box-shadow: 1px 2px #ACDB01;
    font-weight: bold;
}




@media (max-width:700px) {
    html,body,#start-test,select{
        font-size: 16px;
    }
    #choose-subject-text{
        font-size: 18px;
        text-decoration: underline;
    }
    #subject{
        display: flex;
        flex-direction: column;
        width: max-content;
        align-self: center;
        justify-self: center;
    }
    #subject select, #start-test{
        margin-bottom: 10px;
        padding: 8px;
    }
    .main-container{
        padding-top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    
    
}
     
    