.main-container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.margin-20{
    margin: 20px 5px 20px 5px;

}

#upload-question{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding-left: 10%;
}
#upload-label{
    text-align: left;
}
#upload-value{
    text-align: left;
    padding-left: 20px; 
}
.give-height{
    min-height: 50px;   
}

input[type="text"] {

    border: 2px solid #ACDB01;
    border-radius: 5px;
    padding: 7px 3px 7px 3px;

}
.all-button {

    color: white;
    background-color: #242B2D;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 0px;
    font-size: 21px;
}

.all-button:hover{
	background-color: #ACDB01;;
	color:black;
	font-weight: 530;
    box-shadow: 2px 2px black;
    border: solid 1px #242B2D;
}

@media (max-width:700px) {
    html,#profile{
        font-size: 15px;
    }

    .all-button {
        font-size: 15px;
    }
    .main-container{
        padding-top: 170px;
    }
    #upload-question{
        min-width: 60px;
        font-size:14px;
    }
    #upload-value div{
        padding-top: 2px;
    }
    .give-height{
        min-height: 70px;   
    }
    .margin-20{
        margin: 10px 5px 10px 5px;
    
    }
    #upload-question{
        padding-left: 1%;
    }    
}